/* Main css */

/* Html Default Styles*/
html, body {
    font-family:arial;
    font-size:20pt;
    margin: 0;
    padding: 0;
}

/*body background color */
body {
    background-color: #d6e0f5;
}


h1 {
    margin:  5% 0% 1% 5%;
}
h2 {
    margin: 1% 5%;
}

img {
    margin: 1% 5%;
}

p {
    margin: 1% 20% 1% 5%;
}

/* Navagation Bar*/
/* Unorginized List*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c2d1f0;
    position: fixed;
    top: 0;
    height:8%;
    width: 100%;
    max-width:100%;
    margin:auto;
}

/* List start Location*/
li {
    float: left;
}
/*List text style*/
li a {
    display: block;
    color: white;
    font-size: 80%;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
/* Mouse Over Anamations*/
li a:hover:not(.active) {
    background-color: #99b3e6;
}
/*Diffrent color for Login text*/
.login {
    background-color: #d6e0f5;
}
/*End Of navagation Bar settigns*/

/* Ad */
div.ad1 {
    position: fixed;
    bottom: 10px;
    right: 1%;
    width: 18%;
    height: 85%;
    border: 1px solid #111;
}

div.ad2 {
    position: fixed;
    bottom: 10px;
    right: 1%;
    width: 18%;
    height: 65%;
    border: 1px solid #111;
}

/*Raiting*/
div.Ratings {
    position: fixed;
    top: 9%;
    right: 1%;
    width: 18%;
    height: 23%;
    border: 1px solid #111;
}

/* iframe */
iframe {
margin: 0% 0% 0% 5%;
padding: 0;
border: none;
width: 70%;
height: value;
}

iframe[seamless] {
    display:block;
}

/* Responsive Design for Large Desktops*/
@media screen and (min-width:1900px) and (max-width:none) {
    html, body {
        font-size:20pt;
    }
    li a {
        display: block;
        color: white;
        font-size: 80%;
        text-align: center;
        padding:14px 16px;
        text-decoration: none;
    }

}

/* Responsive Design for Desktops*/
@media screen and (min-width:1200px) and (max-width:1899px) {
    html, body {
        font-size:18pt;
    }
    li a {
        display: block;
        color: white;
        font-size: 80%;
        text-align: center;
        padding:14px 16px;
        text-decoration: none;
    }
}

/* Responsive Design for tablet screens*/
@media screen and (min-width:900px) and (max-width:1199px) {
    html, body {
        font-size:16pt;
    }
    li a {
        display: block;
        color: white;
        font-size: 80%;
        text-align: center;
        padding:14px 16px;
        text-decoration: none;
    }
}

/* Responsive Design for Desktops*/
@media screen and (min-width:400px) and (max-width:899px) {

    html, body {
        font-size:11pt;
    }
    li a {
        display: block;
        color: white;
        font-size: 80%;
        text-align: center;
        padding:5px 6px;
        text-decoration: none;
    }
}
